<!DOCTYPE html>
<html>
  <head>
    <title>Github User- <%= user %></title>
  </head>
  <body>
  	<div class="user-info">
      <h3><%= user %>'s info</h3>
      <ul>
        <li><img src="<%= avatar %>"></li>
        <li><a href="/user/<%= user %>/repos">repos(<%= repos %>)</a></li>
        <li><a href="/user/<%= user %>/followers">followers(<%= followers %>)</a></li>
        <li><a href="/user/<%= user %>/following">following(<%= following %>)</a></li>
      </ul>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </body>
</html>
